:root {
    --font-fredoka: 'Fredoka One', cursive;
    --font-poppins: 'Poppins', sans-serif;
    --text-primary: #fe5e35;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body {
    width: 100vw;
    height: 100vh;
}

/* --------------navbar start---------------------------- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 80px;
}

.nav-items {
    display: flex;
}

.nav-item {
    font-family: var(--font-poppins);
    margin-left: 90px;
    font-size: 20px;
    font-weight: 500;
}

.nav-item:first-child {
    color: var(--text-primary);
    font-weight: 700;
}

.icons
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.4rem;
}

nav .menuIcon
{
    display: none;
}
@media screen and (max-width:1120px) {
    nav img
    {
        width: 80px;
    }

    nav .menuIcon
    {
        display: inline;
    }
    nav .nav-items
    {
        background: #fff;
        border-radius: 10px;
        padding: 20px;
        position: absolute;
        display: none;
        top: 14%;
        right: 6%;
        flex-direction: column;
        align-items: center;
        border: 2px solid #fe5e35;
    }
    .nav-item
    {
        margin-left: 0px;
    }
    .menuIcon:focus ~ .nav-items
    {
        display: flex;
    }
    .icons
    {
        display: none;
    }
}

/* ---------------hero secton start---------------- */
.intro-section {
    margin: 70px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* ---------------left section of hero section----------- */
.left-section {
    width: 60%;
}

.right-section {
    display: flex;
    flex-direction: column;
    min-width: 368px;
    width: 40%;
    overflow: hidden;
}

.left-section h3 {
    font-family: var(--font-poppins);
    font-size: 30px;
}

.left-section img {
    width: 50px;
    height: 50px;
}

.left-section h1 {
    font-family: var(--font-fredoka);
    font-size: 60px;
    letter-spacing: 4px;
    margin-top: 25px;
}

.sub-headlines {
    margin-left: 90px;
    margin-top: 40px;
    display: inline-block;
}

.sub-headlines h5 {
    display: flex;
    align-items: center;
    font-family: var(--font-poppins);
    font-size: 20px;
    padding: 20px;
}

.sub-headlines h5 img {
    background: var(--text-primary);
    width: 30px;
    height: 30px;
    padding: 5px;
    margin-right: 25px;
    border-radius: 50%;
}

.text {
    margin-top: 40px;
    text-align: left;
    font-family: var(--font-poppins);
    padding-right: 40px;
    color: gray;
}

.action-btns {
    margin-top: 40px;
}

.action-btns button.action-btn {
    background: var(--text-primary);
    font-size: 20px;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 20px;
}

/* --------right section start */
.right-section
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.img-content
{
    width: 100%;
}
.headphone-img
{
    width: 100%;
}

.discount-tag
{
    position: absolute;
    bottom: 35%;
    width: 100px;
    height: 100px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: crimson;
    gap: 10px;
    background: url('../images/discount.svg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.dots-group
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.dot
{
    padding: 1rem;
    border-radius: 50%;
}
.dot1 
{
    background-color: yellow;
}
.dot2
{
    background-color: #fe5e35;
}
.dot3 
{
    background-color: black;
}
.right-section button.action-btn {
    margin-top: 40px;
    background: var(--text-primary);
    font-size: 20px;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 20px;
}

@media screen and (max-width:1080px) {
    .intro-section
    {
        justify-content: center;
        gap: 80px;
        margin: 0;
    }
    .left-section h3
    {
        font-size: 20px;
    }
    img[alt="circles"]
    {
        width: 40px;
    }
    .left-section h1
    {
        font-size: 30px;
    }
    .sub-headlines
    {
        margin-left: 0px;

    }
    h5.sub-headline
    {
        font-size: 15px;
    }
    img[alt="plus"]
    {
        width: 5px;
    }

}